@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


  body {
    @apply font-[Montserrat] scroll-smooth bg-bg-grays overflow-x-hidden;
  }

  .nav-link{
    @apply text-[#6c6d78] text-lg font-semibold duration-200 hover:text-purple;
  }

  body.overflow-hidden{
    overflow: hidden;
  }

  .nav-link.active-link{
    @apply text-purple pointer-events-none;
  }

  img{
    @apply h-full w-full   
  }

  .button-filled{
    @apply text-sm font-medium bg-purple text-white py-4 px-7 rounded-full cursor-pointer duration-200 hover:bg-bg-grays hover:text-purple hover:ring-2 hover:ring-inset hover:ring-purple;
  }

  .button-outlined{
    @apply text-sm font-medium bg-none border-white border-2 text-white py-4 px-7 rounded-full cursor-pointer duration-200  hover:bg-purple hover:border-purple  
  }

  .point{
    @apply flex flex-col gap-2
  }

  .reason{
    @apply font-semibold text-base text-blacks;
  }

  

  .imgurre{
    transform: rotateY(180deg) translateX(30%); 
    min-width:700px;
    height:515px;
  }

  @media (min-width: 1024px){
    .imgurre{
      transform: rotateY(180deg) translateX(23%);
    }
  }

  .point{
    @apply text-gray-text font-normal text-xs leading-6
  }



}